.container{
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
}

.theme-button{
    background-color: #f8f4de;
    width: 45px;
    height: 27px;
    padding: .2em;
    position: relative;
    border-radius: 16px;
    transition: background-color 0.5s ease;
}

.slider-button{
    position: absolute;
    height: 18px;
    width: 18px;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.5s ease;
}

/* When the theme is dark, slider icon/button moves and bg changes */
.theme-button.dark,
.theme-button:focus {
    outline: none;
}

.slider-button.dark{
    transform: translateX(18px);
}

.theme-button.dark {
    background-color: black;
}


