.about-container {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-img {
  width: 80px;
  border-radius: 16px;
  transform: rotate(-4deg);
}

img {
  border-radius: 16px;
}

.title {
  font-size: 1.3em;
  color: #f25c54;
    text-align: center;
  padding-top: 1em;

  font-family: "Fredoka", sans-serif;
  font-weight: 500;
}


.about-text {
  text-align: justify;
  padding: 0 1em;
}

/* tablet view */
@media (min-width: 768px) {
  .about-container {
    height: 87vh;
    padding: 2em 3em;
  }

  .divider{
    padding-top: 2em;
  }

  .about-img {
  width: 110px;
  border-radius: 16px;
  transform: rotate(-4deg);
}

#funfact-title,
#about-title
 {
  font-size: 2em;
  padding-top: .3em;
}
}

/* desktop view */
@media (min-width: 1024px) {
.about-container {
  padding-top: 5em;
  flex-direction:row ;
  align-items: start;
  justify-content: center;
}

.about-img {
  width: 50vh;
  border-radius: 16px;
  transform: rotate(-4deg);
  margin-right: 5rem;
  align-self: center;
}

.about-content{
  width: 50vh;
}
}
