.about-container{
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-img{
    width: 80px;
    border-radius: 16px;
    transform: rotate(-4deg); 
}

img{
    border-radius: 16px;
}


.about-title{
    text-align: center;
    font-size: 1.5em;
    padding-top: 1em;
}

.about-text{
    text-align: justify;
    padding: 0 1em;
}