.about-container{
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-img{
    width: 80px;
    border-radius: 16px;
    transform: rotate(-4deg); 
}

img{
    border-radius: 16px;
}

.about-title{
    font-size: 1.3em;
    color:#f25c54;
    
    font-family: "Fredoka", sans-serif;
    font-weight:500;
}

.about-title{
    text-align: center;
    padding-top: 1em;
}

.about-text{
    text-align: justify;
    padding: 0 1em;
}