.footer{
    text-align: center;
    width: 100%;
    background-color: #f25c54;
    padding: .5em 0;
    font-size: .7em;
    position: absolute;
    bottom: 0;
    left: 0;
}

@media (min-width: 768px){
    .footer{
        font-size: .8em;
        padding: .7em 0;
    }
}