.footer{
    text-align: center;
    background-color: #f25c54;
    padding: .5em 0;
    font-size: .7em;
}

@media (min-width: 768px){
    .footer{
        font-size: .8em;
        padding: .7em 0;
    }
}