.landing-container{
    height: 35vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),url("../assets/shake.webp") no-repeat center/cover;
}

.hero-text{
  font-size: 2.2em;
  font-weight: 900;
  font-family: sans-serif;
  color: transparent;
  text-align: center;
  -webkit-text-stroke: 1px white;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke: 2px dashed white;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  line-height: 2;
  margin-top: 1em;
}

.wave{
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: block;
  bottom: -1px;
}

.wave path{
  fill: #eae2b7;
}

.landing-container.dark .wave path{
  fill: #000;
  
}

/* smaller phones */
@media (max-width: 380px){

  .hero-text{
    font-size: 1.6em;
  }
}

/* tablet view */
@media (min-width: 768px){
  .landing-container{
    height: 45vh;

}
  .hero-text{
    font-size: 3.3em;
    margin-top: .5em;
  }
}

/* desktop view */
/* @media (min-width: 1024px){
 .landing-container{
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),url("../assets/shake.jpeg") no-repeat center/cover;
}
} */

