.menu-container{
padding: 1em 0;
padding-bottom: 4em;
margin: 0;
}

.menu-title{
    text-align: center;
    padding-top: 1em;
    font-size: 1.3em;
    color:#f25c54;
    
    font-family: "Fredoka", sans-serif;
    font-weight:500;

}

.menu-list{
 padding: .2em 1.3em;
}

.flavour{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed #000;
    padding-top: .5em;
}

.dark .flavour{
    border-bottom: 1px dashed #fff;
}


/* tablet view */
@media (min-width: 768px){
    .menu-list{
        padding: .2em 4em;
        padding-bottom: 2em;
    }

     .menu-title{
    font-size: 1.5em;
    }
}

/* desktop view */
@media (min-width: 1024px){
  .menu-list{
        padding: .2em 20em;
        padding-bottom: 3em;
    }  

    .menu-title{
    font-size: 1.7em;
    }
}