.logo{
    width: 110px;
    height: 110px;
    transform: rotate(-5deg);
}

.nav-link{
    font-size: 21px;
}

.nav-link:last-of-type{
    font-weight: bold;
}

@media (min-width: 768px){
     .navlinks{
        display: none;
    }

    .navlinks-lg{
        display: flex;
        padding-right: 1em;
    }

    .nav-link:last-of-type{
    font-weight: normal;
}
}