.app-container{
    min-height: 100vh;
    position: relative;
}

.light{
    background-color: #eae2b7;
}

.dark{
    background-color: #000;
    color: #fff;
}

.app-container.light .nav-link{
color: #f8f4de;
}

.app-container.dark .nav-link{
color: #000;
}

