.app-container{
    height: fit-content;
}

.light{
    background-color: rgb(180, 180, 246);
    color: black;
    transition: background-color 0.5s ease,
    color 0.5s ease;
}

.dark{
    background-color: #000;
    color: #fff;
}