@import "tailwindcss";
@font-face {
    font-family: "Fredoka";
    src: url("/src/assets/fonts/Fredoka-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: serif;
    font-family: "Fredoka", sans-serif;
}




